<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kondenko.pocketwaka">

    <application
        android:name=".App"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:name">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>
